<div class="container align-items-center">
  <div class="row align-items-center">
    <div class="col-xs-10 col-lg-5 card px-2 ">
      <div class="card-body text-center">
        <h2 class="my-2">Tutorial canciones</h2>
        <p class="my-2">El sitio para almacenar la información de su colección de música. En este podrá buscar de manera más facil las canciones que tiene en su fonoteca y que quiere escuchar ...</p>
      </div>
    </div>

    <div class="col-xs-10 col-lg-5 container" >
      <div class="row">

        <div class="my-2 row">
          <h1 class="text-center">Ingreso</h1>
        </div>
        <div *ngIf="error">
          <div class="alert alert-danger" role="alert">
            Usuario o contraseña incorrectos
          </div>
        </div>
        <div class="mb-3 row">
          <label for="staticEmail" class="col-lg-3 col-form-label">Usuario</label>
          <div class="col-lg-9  ">
            <input #usuario type="text" class="form-control" placeholder="ejemplo@ejemplo.com">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-lg-3 col-form-label">Contraseña</label>
          <div class="col-lg-9">
            <input #contrasena type="password" class="form-control" placeholder="*********">
          </div>
        </div>
        <div class="col-12 text-center mt-3">
          <button (click)="onLogInUsuario(usuario.value, contrasena.value)" type="button" class="btn btn-primary col-8">Ingresar</button>
        </div>
        <div class="col-12 text-center mt-2">
          <p>¿No tienes cuenta? <a href="/signup">Registrate</a></p>
        </div>
      </div>
    </div>
  </div>
</div>