<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Tutorial canciones</h1>
      <p>El sitio para almacenar la información de su colección de música. En este podrá buscar de manera más facil las canciones que tiene en su fonoteca y que quiere escuchar...</p>
    </div>

    <div class="col-6 container">
      <div class="row">

        <div class="my-2 row">
          <h2 >Ingreso</h2>
        </div>
        <div *ngIf="error">
          <div class="alert alert-danger" role="alert">
            Usuario o contraseña incorrectos
          </div>
        </div>
        <div *ngIf="login">
          <div class="alert alert-success" role="alert">
            Se inició sesión
          </div>
        </div>
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Usuario</label>
          <div class="col-sm-10">
            <input #usuario type="text" class="form-control">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
          <div class="col-sm-10">
            <input #contrasena type="password" class="form-control">
          </div>
        </div>
        <div class="col-12">
          <button (click)="onLogInUsuario(usuario.value, contrasena.value)" type="button" class="btn btn-primary">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</div>