<div class="container">

  <div class="row">
    <div class="col-12 text-center mb-2" >
      <label class="fs-4 fw-bold">Álbum: {{album?.titulo}} ({{album?.anio}})</label>
      <button *ngIf="album" type="button" class="btn btn-outline-success ms-3 me-2" (click)="goToEdit()" title="Editar álbum"><i class="bi bi-pencil-square"></i></button>
      <button *ngIf="album" type="button" class="btn btn-outline-info me-1 me-2" (click)="goToJoinCancion()" title="Agregar canción" ><i class="bi bi-plus" ></i><i class="bi bi-music-note"></i></button>
      <button *ngIf="album" type="button" class="btn btn-outline-danger me-1" (click)="eliminarAlbum()" title="Eliminar álbum"><i class="bi bi-trash-fill"></i></button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <p><span class="fw-bold">Medio: </span> <span class="text-capitalize">{{album?.medio?.llave}}</span></p>
          <p>{{album?.descripcion}}</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <p class="fw-bold">Intérpretes:</p>
          <ul class="mt-0">
            <li class="my-1" *ngFor="let interprete of album?.interpretes">{{interprete}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-3 mb-2 ms-2">
      <h5>Canciones</h5>
    </div>
    <div class="col-12">
      <table class="table table-hover table-bordered" >
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-center">Canción</th>
            <th scope="col" class="text-center">Duración</th>
            <th scope="col" class="text-center">Intérprete</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cancion of album?.canciones" >
              <td >{{cancion.titulo}}</td>
              <td class="text-center">{{cancion.minutos}}:{{cancion.segundos}}</td>
              <td >{{cancion.interprete}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>