<div class="container my-4">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-10 text-center">
              <label class="fs-4">Álbumes</label>
            </div>
            <div class="col-2 text-center">
              <button type="button" class="my-1 btn btn-outline-primary btn-circle" (click)="irCrearAlbum()"><i class="bi bi-plus-lg"></i></button>
            </div>
          </div>
        </div>
        <div class="card-body">

          <table class="table table-hover mb-0" aria-describedby="colecName">
            <tbody>
                <tr *ngFor="let album of albumes" >
                  <td (click)="onSelect(album)">{{album.titulo}} - {{album.anio}}</td>
                </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <div class="col-8">
      <app-album-detail (deleteAlbum)="eliminarAlbum()" [album]="albumSeleccionado"></app-album-detail>
    </div>
  </div>
</div>