<app-header></app-header>
<div class="container my-4">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-10 text-center">
                <label class="fs-4">Canciones</label>
              </div>
              <div class="col-2 text-center">
                <button type="button" class="my-1 btn btn-outline-primary btn-circle" (click)="irCrearCancion()"><i class="bi bi-plus-lg"></i></button>
              </div>
            </div>
          </div>
          <div class="card-body">
  
            <div class="input-group my-2">
              <input #busqueda type="search" class="form-control" placeholder="Buscar canciones" aria-label="Search" (keyup)="buscarCancion(busqueda.value)">
            </div>
  
            <table class="table table-hover mb-0" aria-describedby="colecName">
              <tbody>
                  <tr *ngFor="let cancion of mostrarCanciones; index as i" (click)="onSelect(cancion, i)" [ngClass]="{'selected': i === indiceSeleccionado}">
                    <td>{{cancion.titulo}}</td>
                    <td>{{cancion.minutos}}:{{cancion.segundos}}</td>
                  </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
      <div class="col-8">
        <app-cancion-detail (deleteCancion)="eliminarCancion()" [cancion]="cancionSeleccionada"></app-cancion-detail>
      </div>
    </div>
  </div>